<div id="header-container">
    <div style="position:relative;float:left;width:200px;height:50px;"></div>
    <img style="position:relative;float:right;" src="{{ site.url }}/assets/images/eea.jpg" alt="" width="200" height="50">
    <div id="header-content">
        <header>
            <h2><a href='{{ site.url }}/'>{{ site.name }}</a></h2>
        </header>
        <a href='{{ site.url }}/'> Home</a> | <a href='{{ site.url }}/registration/'>Registration</a> | <a href='{{ site.url }}/certicolab/'> CertiCoLab</a> 
    </div>
</div>
<br>
<hr>
    